
snippet clg "console.log() statement"
console.log($0);
endsnippet

snippet rf "React Functional Component" b
import React, {ReactElement} from "react";

type $1Props = {};

const ${1:`!v expand("%:t:r")`} = ({}: $1Props): ReactElement => {
	return (
		<${5:div}>
			$0
		</$5>
	);
}

export default $1;
endsnippet
